@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #1f2937; /* Use the same background color as the pagination */
    border-radius: 3px; /* Set the border radius */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Use the same color as the pagination borders */
    border-radius: 3px; /* Set the border radius */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8b9ba5; /* Use the same color as the pagination text on hover */
  }
  
  /* For Firefox */
  /* Set the width, background color, and border radius of the scrollbar */
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }
  
  .scrollbar-thumb {
    background-color: #4b5563; /* Use the same color as the pagination borders */
    border-radius: 3px; /* Set the border radius */
  }
  
  .scrollbar-thumb:hover {
    background-color: #8b9ba5; /* Use the same color as the pagination text on hover */
  }
  


/* FILTER ICONS LABELS */
.filters-icon {
    position: relative;
}

.filters-icon > span {
    display: none;
    position: absolute;
    inset: 0;
    top: -2.5rem;
    left: -1rem;
    height: 30px;
    width: 270%;
    font-size: .75rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1rem;
    padding: 0 .5rem;
}

.filters-icon:hover > span {
    display: block;
}